@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.video, iframe {
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.video-block {
  background: url("../images/start.gif") no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.navbar {
  border-bottom: 4px solid RGB(255, 146, 43);
}

.main-carousel {
  margin-top: 60px;
}

.announce {
  -webkit-box-shadow: 0px 0px 18px -16px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 18px -16px rgba(0, 0, 0, 0.75);
  padding: 10px;
  margin-top: 25px;
  text-align: center;
}

.services {
  background: #121212;
  margin: 0 0 30px 0px;
  padding: 10px 5px 25px 5px;
  border-radius: 2px;
  -webkit-transition: background-color 1s linear;
  transition: background-color 1s linear;
  cursor: pointer;
}

.services:hover {
  background-color: RGB(255, 146, 43);
  -webkit-box-shadow: 0px 0px 15px -8px black;
          box-shadow: 0px 0px 15px -8px black;
}

.services .services-text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

.advantages-content {
  -webkit-box-shadow: 0px 0px 18px -16px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 18px -16px rgba(0, 0, 0, 0.75);
  min-height: 230px;
  margin: 0 0 30px 0px;
  padding: 5px;
}

.advantages-content i {
  display: block;
  margin-top: 40px;
  color: #ffc078;
}

.advantages-content .advantages-text {
  color: #121212;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  line-height: 1.4;
}

.info-block {
  background: #ffffff;
  padding: 0;
}

.info-block .info-title {
  font-size: 16px;
  font-weight: 600;
  color: #121212;
}

.info-block .info-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #121212;
}

.counter {
  border-top: 1px dashed #bebebe;
}

.counter .counter-num {
  font-size: 26px;
  font-weight: 300;
  color: #121212;
  margin: 10px 0;
}

.counter .counter-text {
  color: #121212;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}

.counter i {
  color: #ffc078;
}

.header-blog {
  -webkit-box-shadow: 0px 0px 18px -16px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 18px -16px rgba(0, 0, 0, 0.75);
  margin-top: 85px;
  background: #f3f3f3;
}

.header-blog .header-blog-title {
  font-size: 42px;
  font-weight: 600;
  color: #121212;
}

.header-blog .header-blog-text {
  font-size: 18px;
  font-weight: 400;
  color: #121212;
}

.blogPost {
  background: #ffffff;
}

.blogPost i {
  color: #ffc078;
}

.blogPost .blog-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.blogPost .blog-title a {
  color: #121212;
  text-decoration: none;
}

.blogPost .blog-title a:hover {
  color: orange;
}

.blogPost .author, .blogPost .date {
  font-size: 14px;
  color: #868e96;
  font-weight: 400;
  margin-bottom: 10px;
}

.blog-sidebar {
  background: #ffffff;
}

.blog-sidebar .blog-categories {
  -webkit-box-shadow: 0px 0px 18px -16px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 18px -16px rgba(0, 0, 0, 0.75);
}

.blog-sidebar .blog-categories .blog-categories-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.blog-sidebar .blog-categories .blog-categories-title a {
  color: #121212;
  text-decoration: none;
}

.blog-sidebar .blog-categories .blog-categories-title a:hover {
  color: #ffc078;
}

.blog-sidebar .latest-articles {
  -webkit-box-shadow: 0px 0px 18px -16px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 18px -16px rgba(0, 0, 0, 0.75);
}

.blog-sidebar .Latest_articles-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}

.blog-sidebar .Latest_articles-title a {
  color: #121212;
  text-decoration: none;
}

.blog-sidebar .Latest_articles-title a:hover {
  color: #ffc078;
}

.footer {
  border-top: 4px solid RGB(255, 146, 43);
}

.footer .footer-title {
  color: #ffffff;
  margin: 10px;
}

.footer .footer-desc {
  line-height: 1.6;
  color: #f3f3f3;
}

.footer .footer-contact {
  text-align: left;
  margin-left: 30px;
}

.footer .footer-contact .footer-contact-title {
  margin-top: 15px;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
}

.footer .footer-contact a {
  display: block;
  font-weight: 600;
  color: #f3f3f3;
  margin-top: 12px;
  text-decoration: none;
}

.footer .footer-contact a:hover {
  color: #ffc078;
}

.footer .footer-map {
  -webkit-box-shadow: 0px -10px 116px -8px #ff912b;
          box-shadow: 0px -10px 116px -8px #ff912b;
}

.footer .footer-menu {
  margin-top: 10px;
}

.footer .footer-menu li, .footer .footer-menu a {
  text-decoration: none;
  display: block;
  color: #f3f3f3;
  font-weight: 600;
  margin-top: 10px;
}

.footer .footer-menu li:hover, .footer .footer-menu a:hover {
  color: #ffc078;
}

.footer i {
  color: #ffc078;
  margin-right: 10px;
}

.footer i:hover {
  color: #ffffff;
}

.footer .footer-copyright {
  color: #f3f3f3;
  font-size: 14px;
}
/*# sourceMappingURL=template.css.map */