[viewBag]
==
{##}
 <!-- Footer -->
    <footer class="footer" id="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__col  footer__col--first">
                    <div class="footer__logo">Masterandgold</div>
                    <div class="footer__text"></div>

                </div><!-- /.footer__col -->

                <div class="footer__col  footer__col--second">
                    <div class="social">
                    <a class="footer__social--item" href="https://www.facebook.com/Ювелир-Киев-Ювелирные-Изделия-662265097554740/"><img src="{{ 'assets/images/social/facebook.png' | theme }}" alt=""></a>
                    <a class="footer__social--item" href="https://www.instagram.com/masterandgold/"><img src="{{ 'assets/images/social/in.png' | theme }}" alt=""></a>
                    <a class="footer__social--item" href=""><img src="{{ 'assets/images/social/google.png' | theme }}" alt=""></a>
                    <a class="footer__social--item" href=""><img src="{{ 'assets/images/social/youtube.png' | theme }}" alt=""></a>
                    <a class="footer__social--item" href="viber://chat?number=+380505821213"><img src="{{ 'assets/images/social/viber.png' | theme }}" alt=""></a> 
                </div>
                
                </div><!-- /.footer__inner -->

            <div class="copyright">
                <span>© Masterandgold 2020</span>
            </div>


        </div><!-- /.container -->
    </footer>


