[viewBag]
[staticMenu topMenu]
code = "main-menu"
==
{##}
<header class="header {% if this.page.id != 'home' %} active {% endif %}" id="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo"><a class="nav__link" href="/">JewelrLab</a></div>

            <nav class="nav" id="nav">
               {% for item in topMenu.menuItems %}
                <a class="nav__link" href="{{ item.url }}">{{ item.title }}</a>
                {% endfor %}
                <a class="nav__link" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <a class="nav__link" href="#">
                    <i class="fas fa-search"></i>
                </a>
            </nav>
            <button class="nav-toggle" id="nav_toggle" type="button">
                <span class="nav-toggle__item">Menu</span>
            </button>
        </div>
    </div>
</header>
