[viewBag]

==
{##}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">О НАС</h3>
                <h2 class="section__title">Ювелирная мастерская "Masterandgold"</h2>
                <div class="section__text">
                    <p><strong>Наша мастерская начала свою работу в далеком 2000 году.</strong><br />
                    За это время мы преобрели бесценный опыт в изготовлении ювелирных украшений.
                    Заказывая изготовление ювелирного украшения в нашей мастеркой мы гарантируем Вам 
                    качественную и квалифицированную работу с правильным отношением к клиенту. </p>
                </div>
            </div>
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-663645ba-07c1-4da2-8740-05b180500044"></div>
        </div><!-- Container -->
    </section>

    

    