[viewBag]
==
{##}
 <!-- Devices -->
    <section class="section  section--devices">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">For all devices</h3>
                <h2 class="section__title">Unique design</h2>
            </div>

            <div class="devices">
                <img class="devices__item" src="{{ 'assets/images/ipad.png' | theme }}" alt="">
                <img class="devices__item  devices__item--iphone" src="{{ 'assets/images/iphone.png' | theme }}" alt="">
            </div>

        </div>
    </section>