[blogPosts lastPosts]
pageNumber = "{{ :slug }}"
postsPerPage = 3
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "post"
==
{##}



<!-- Blog -->
<section class="section" id="blog">
    <div class="container">

    <div class="section__header">
        <h3 class="section__suptitle">БЛОГ</h3>
        <h2 class="section__title">Последие статьи блога</h2>
    </div>

<div class="blog">

    {% for post in posts %}
    <div class="blog__item">
        <div class="blog__header">
            <a href="{{ post.url }}">
                {% for image in post.featured_images|slice(0, 1) %}
                    <img class="blog__photo" src="{{ image.path }}" alt="{{ post.title }}">
                {% endfor %}
            </a>
            <div class="blog__date">
                <div class="blog__date-day">{{ post.published_at|date('d') }}</div>
                {{ post.published_at|date('M') }}
            </div>
        </div>
        <div class="blog__content">
            <div class="blog__title">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </div>
            <div class="blog__text">{{ post.excerpt }}</div>
        </div>
        <div class="blog__footer">
            <div class="blog-stat">
                <span class="blog-stat__item">
                    <i class="far fa-eye"></i> {{ post.views }}
                </span>
                <span class="blog-stat__item">
                    <i class="far fa-comment-dots"></i> 17
                </span>
            </div>
        </div>
    </div>
    {% endfor %}

    <a class="btn btn__all-posts" href="/blog">Читать все все статьи</a>

</div><!-- /.blog -->
    </div><!-- /.container -->
</section>