[viewBag]
==
{##}
<!-- Logos -->
    <div class="section  section--gray">
        <div class="container">
            <div class="section__header">
                <h3 class="section__suptitle">НАШИ ПАРТНЕРЫ</h3>
                <h2 class="section__title">ПАРТНЕРЫ КОТОРЫЕ ДОВЕРЯЮТ НАМ</h2>
            </div>

            <div class="logos">
                <div class="logos__item">
                    <img class="logos__img" src="{{ 'assets/images/logos/1.png' | theme }}" alt="">
                </div>
                <div class="logos__item">
                    <img class="logos__img" src="{{ 'assets/images/logos/2.png' | theme }}" alt="">
                </div>
                <div class="logos__item">
                    <img class="logos__img" src="{{ 'assets/images/logos/3.png' | theme }}" alt="">
                </div>
                <div class="logos__item">
                    <img class="logos__img" src="{{ 'assets/images/logos/4.png' | theme }}" alt="">
                </div>
                <div class="logos__item">
                    <img class="logos__img" src="{{ 'assets/images/logos/5.png' | theme }}" alt="">
                </div>
                <div class="logos__item">
                    <img class="logos__img" src="{{ 'assets/images/logos/6.png' | theme }}" alt="">
                </div>
            </div>

        </div>
    </div>
