[viewBag]
==
{##}
<!-- Statistics -->
    <div class="statistics">
        <div class="container">

            <div class="stat">
                <div class="stat__item">
                    <div class="stat__count">42</div>
                    <div class="stat__text">Партнеров</div>
                </div>
                <div class="stat__item">
                    <div class="stat__count">123</div>
                    <div class="stat__text">Довольных клиентов</div>
                </div>
                <div class="stat__item">
                    <div class="stat__count">15</div>
                    <div class="stat__text">Сотрудников</div>
                </div>
                <div class="stat__item">
                    <div class="stat__count">99</div>
                    <div class="stat__text">Выполненно заказов</div>
                </div>
                <div class="stat__item">
                    <div class="stat__count">24</div>
                    <div class="stat__text">Ожидают заказов</div>
                </div>
            </div>

        </div>
    </div>

