[viewBag]
==
<h2 style=" font-size:32px; color:121212; margin: 35px 0; text-align:center; text-transform:uppercase;">
	Как мы создаем украшения</h2>
<div style="margin:40px auto; height:5px; width:20%; background:RGB(255, 146, 43);"></div>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8" allowfullscreen></iframe>
</div>
	</div>
		</div>
		
		<div class="row">
		<div class="col-md-12 mt-5">
		
    <p><b>1. Индивидуальный подход к каждому заказу,</b> ведь Вы можете проследить свой заказ на этапе производства.</p>

    <p><b>2.</b> Все наши украшения <b>изготавливаются вручную,</b> способом моделирования по воску или через 3D моделирование, что обеспечивает высокое качество исполнения и <b>неповторимость каждого изделия.</b><p>

    <p><b>3.</b> Большинство украшений, которые представляет наш ювелирный интернет-магазин изготавливаются <a style="color:#ffc078;" href="#">под заказ,</a> но есть определенное количество украшений в наличии, которые можно приобрести без ожидания изготовления. В основном, это кулоны и некоторые модели колец. Такие модели обозначаются в нашем ювелирном интернет-магазине, как «в наличии».<p>

		</div>
	</div>
</div>