[viewBag]
==
{##}
 <!-- Works -->
    <section class="section" id="works">
        <div class="container">
            <div class="section__header">
                <h3 class="section__suptitle">ЛУЧШИЕ РАБОТЫ</h3>
                <h2 class="section__title">Примеры наших лучших работ</h2>
                <div class="section__text">
                    <p>Сдесь представлены примеры наших лучших работ.</p>
                </div>
            </div>
            
            <div class="works">
            <div class="works__col">
                <div class="works__item">
                    <img class="works__image" src="{{ 'assets/images/works/1.jpg' | theme }}" width="600" alt="">
                    <div class="works__info">
                        <div class="works__title">Серьги</div>
                        <div class="works__text">Серьги 750 пробы, белое золото с бриллиантами<br />срок изготовления 2 - 3 недели.</div>
                    </div>
                </div>
                <div class="works__item">
                    <img class="works__image" src="{{ 'assets/images/works/2.jpg' | theme }}" width="600" alt="">
                    <div class="works__info">
                         <div class="works__title">Крест </div>
                        <div class="works__text">Крест из белого и желтого золота<br />срок изготовления 2 - 3 недели. </div>
                    </div>
                </div>
            </div>

            <div class="works__col">
                <div class="works__item">
                    <img class="works__image" src="{{ 'assets/images/works/3.jpg' | theme }}" width="600" alt="">
                    <div class="works__info">
                        <div class="works__title">Крест</div>
                        <div class="works__text">Из желтого золота 585 пробы, эмаль, бриллианты<br />срок изготовления 3 - 4 недели.</div>
                    </div>
                </div>
                <div class="works__item">
                    <img class="works__image" src="{{ 'assets/images/works/4.jpg' | theme }}" width="600" alt="">
                    <div class="works__info">
                         <div class="works__title">Кольцо</div>
                        <div class="works__text">Из белого золота 585 пробы, бриллианты<br />срок изготовления 3 - 4 недели.</div>
                    </div>
                </div>
            </div>

            <div class="works__col">
                <div class="works__item">
                    <img class="works__image" src="{{ 'assets/images/works/5.jpg' | theme }}" width="600" alt="">
                    <div class="works__info">
                        <div class="works__title">Кулон</div>
                        <div class="works__text">Из Желтого золота<br />срок изготовления 2 - 3 недели.</div>
                    </div>
                </div>
            </div>

            <div class="works__col">
                <div class="works__item">
                    <img class="works__image" src="{{ 'assets/images/works/6.jpg' | theme }}" width="600" alt="">
                    <div class="works__info">
                        <div class="works__title">Кулон</div>
                        <div class="works__text">Из желтого золота 585 пробы<br />срок изготовления 2 - 3 недели.</div>
                    </div>
                </div>
                <div class="works__item">
                    <img class="works__image" src="{{ 'assets/images/works/7.jpg' | theme }}" width="600" alt="">
                    <div class="works__info">
                        <div class="works__title">Брошь</div>
                        <div class="works__text">Белое золото бриллианты и сапфир<br />срок изготовления 1 месяц.</div>
                    </div>
                </div>
            </div>
        </div><!-- /.works -->

        <div class="work__video">
        <div class="video-responsive">
            <iframe src="https://www.youtube.com/embed/urbTIWSDOf0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div><!-- /.container -->

    </section>

